.footer {grid-area: footer;}
.verticalCenter {
  margin: 0;
  position: relative;
  top: 50%;
}
.item .footer {
  grid-area: footer;
   background-color: rgb(206, 206, 206);
   display: grid;
   grid-template: 37px 37px 37px 37px 25px / repeat(3,1fr);
   grid-template-areas: "how risks simulator"
                        "req feescomm contact"
                        "terms chat about"
                        "freq none none"
                        "rights rights rights";
  }
  .item .footer .how {
    grid-area: how;  
    display:block;  
    text-align: center;
  }
  .item .footer .req {
    grid-area: req;   
    display:block; 
    text-align: center;
  }
  .item .footer .terms {
    grid-area: terms;  
    display:block; 
    text-align: center; 
  }
  .item .footer .freq {
    grid-area: freq;  
    display:block;  
    text-align: center;
  }
  .item .footer .risks {
    grid-area: risks;    
    display:block;
    text-align: center;
  }
  .item .footer .feescomm {
    grid-area: feescomm;
    display:block;
    text-align: center;
     }
  .item .footer .chat {
    grid-area: chat;
    display:block;
    text-align: center;
    }
  .item .footer .simulator {
    grid-area: simulator;
    display:block;
    text-align: center;
    }
  .item .footer .contact {
    grid-area: contact;
    display:block;
    text-align: center;
    }
  .item .footer .about {
    grid-area: about;
    display:block;
    text-align: center;
    }
  .item .footer .rights {
    grid-area: rights;
    display:block;
    text-align: center;
    background-color: #b7b7b7;
   }
   .linkStyle{     
    text-decoration: none;
    color: black;
    
   }
   .linkContainer{       
     padding-top: 9.25px;
   }