.header {grid-area: header;position:fixed; width: 100%;padding: 0px; 
  background: rgba(45,45,45,0.98);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background: rgba(45,45,45,0.98);
  }
  .floatleft {
    float:left;
}
.floatright {
    float:right;
}
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .Navigation_logo {
    width: 15%;
    float: left;
    font-family: 'smc';
    text-align: right;
    font-size: 20px;
    padding-top: 14px;
    padding-right: 50px;
    height: 36px;
    color: #fff;
    background: rgba(45,45,45,0.98);
    opacity: 0.9;
    filter:  alpha(opacity=90);
    font-weight: bold;
}

.barHeader{
  position: fixed;
  width: 100%;
}
.Navigation_menu{
  height:0px;
}
@media only screen and (max-width: 768px)
{
  .Navigation_logo{
  /* color:#dcf442; */
text-align: center;
display:block;
padding-top:10px;
padding-right:0px;
height: 40px;
align:center;
width: 100%;}

.Navigation_menu{
  position:absolute;
  left:90%;
  float:right;
  display:block;
  padding-top:15px;
  padding-right:20px;
  height: 35px;
  color:white;
  align:center;
  width: 5%;
}
.Navigation_menu:hover{
  background-color: #111;
}
.Navigation_items{
  display: none;
  position:absolute;
  left:85%;
  padding-top:50px;
  height:330px;
  width:15%;
}
.Navigation_items .Navigation_list{
  display: none;
  height:330px;
  width:1fr;
}
}