body {  font-size: 14px; line-height: 1.42857143; font-family: Arial;margin: 0px; color: #333;}
select:focus{ outline: none;}
input:focus{ outline: none;}
.container {
    display: grid;
    grid-template: 50px 1fr 280px/ 1fr 1fr;
    grid-gap: 0px;
    height: 100vh;
    grid-template-areas: "header header"
                          "contenido contenido"
                          "footer footer";
  }
  .contenido {padding: 0px; grid-area: contenido;}
  .item {padding: 0px;}
  /* que es eso de clase module*/
  .item .Module {background: rgb(93, 194, 185);}
  button{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-radius: 2px;
    padding: 8px 20px 8px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    background: #5887f5;
    border: none;
    *border: 0;
    -webkit-font-smoothing: subpixel-antialiased;
  }
 .appContent{
    padding: 1% 10% 50px 10%;
    
}
.appTitle{
    padding: 0px 10px 20px 0px;
    font-weight: bold;
    font-size: 24px;
}



@media only screen and (max-width: 1024px){
    .appContent {
        padding: 1% 5% 50px 5%;
    }
}
@media only screen and (max-width: 920px){
    .appContent {
        padding: 1% 2% 50px 2%;
    }
}   
@media only screen and (max-width: 768px)
{
    .container {
        grid-template: 50px 1fr auto/ 1fr 1fr;
    }
}