
.log-in{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.log-in:hover {
    background-color: #111;
  }
.img-loading{
    width: 34%;
    margin: auto;
}