
.loginBackground {
    width:100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color:black;
    background: #fff;
    z-index: 990;
}
.adjustLogin{
    position:fixed;
    left:50%;
    top:50%;
}
.loginWindow{
    width:360px;
    height:410px;    
    margin: auto;
    background-color: gray;
  
    position:relative;
left:-180px;
top:-205px;
}
.login {
    width:350px;
    height:400px;
    position:relative;
    left:5px;
    top:5px;
   background:white;
  
   display: grid;
   grid-template: 100px 200px 100px/ 350px;
   grid-template-areas: "section1 "
                        "section2"
                        "section3";
  }
  .close{

    float:right;
  }
 
  .login .section1 {
    grid-area: section1;
    background-color: lightgray;
    display: grid;
    grid-template: 10px 50px 50px/ 350px;
    grid-template-areas: "close"
                         "option1"
                         "option2";
  }
  .login .section1 .option:nth-of-type(1){
    grid-area: option1;
}
.login .section1 .option:nth-of-type(2){
    grid-area: option2;
}
.login .section1 .option:nth-of-type(3){
    grid-area: close;
}
  .login .section2 {
    grid-area: section2;
    background-color: whitesmoke;
    display: grid;
    grid-template: 50px 50px 50px 50px/ 350px;
    grid-template-areas: "user"
                         "password"
                         "enter"
                         "forgot";
  }
  .login .section2 .option:nth-of-type(1){
    grid-area: user;
}
.login .section2 .option:nth-of-type(2){
    grid-area: password;
}
.login .section2 .option:nth-of-type(3){
    grid-area: enter;
}
.login .section2 .option:nth-of-type(4){
    grid-area: forgot;
}
  .login .section3 {
    grid-area: section3;
    background:lightgray;
    display: grid;
    grid-template: 50px 50px/ 350px;
    grid-template-areas: "noaccount"
                         "register";
  }
.login .section3 .option:nth-of-type(1){
    grid-area: noaccount;
}
.login .section3 .option:nth-of-type(2){
    grid-area: register;
}