
.log-in{
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    font-size:14px; 
    text-decoration: none;
}
.log-in:hover {
    background-color: #111;
  }
.img-loading{
    width: 34%;
    margin: auto;
}
@media only screen and (max-width: 768px)
{
    .log-in{
        text-align: unset;
        left:0px;
    }
}