.info {
    grid-area: info;
    background: rgb(159, 205, 50);
  
  }
.info .information{
    grid-area: info;
    grid-template: 30px 30px 30px 30px / 200px;
    grid-template-areas: 
                         " how "
                         " requirements"
                         " termscond "
                         " freq ";
}
.info .intormation2 .item2:nth-of-type(2){
    grid-area: how;
}
.info .intormation2 .item2:nth-of-type(3){
    grid-area: requirements;
}
.info .intormation2 .item2:nth-of-type(4){
    grid-area: termscond;
}
.info .intormation2 .item2:nth-of-type(5){
    grid-area: freq;
}