.marginGrid1{
    margin-top: 20px;
}
.marginGrid2{
    margin-top: 50px;
}

.gridDoble{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;  
    height: auto;
    margin-top: 50px;
  }
  @media only screen and (max-width: 768px)
{
.gridDoble{
    grid-template-columns: 1fr;
}
}